*{
    box-sizing: border-box;
}

#logoB{
    display: flex;
    width: 254px;
    height: 92px;
    padding: 0px 1.639px 1.704px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 205px;
    margin-bottom: 42px;
}

#logoS{
    display: flex;
    width: 133px;
    height: 47px;
    padding: 0px 0.858px 0.87px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.login-input{
    display: flex;
    width: 456px;
    height: 60px;
    padding: 12px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 52px;
    border: 1px solid #000;
    background: #FFFFFF;
    margin-bottom: 10px;
}

.login-input:first-of-type{
    margin-bottom: 16px;
}

.input-text{
    color: #6C7275;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#forgot{
    width: 138.948px;
    height: 19px;
    transform: rotate(0.14deg);
    flex-shrink: 0;
    color: #2C3337;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 10% 328.66px 56.25% ;
}

#sign-in, #confirm-send{
    display: flex;
    width: 327px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    border: 1px solid #E5E5E3;
    background: #FFF;
    margin-top: 43px;
    margin-bottom: 10px;
    border-radius: 99px;
    background: var(--Gradient-Red, linear-gradient(180deg, #EA2139 0%, #C8102E 100%));
    color: var(--grayscale-white-ffffff, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body/Bold | 16 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

#sign-in:active, #confirm-send:active, .home-button:active{
    background: var(--Gradient-Red, linear-gradient(180deg, #fd7b8a 0%, #ff5874 100%));
}

#confirm-send{
    margin-top: -20px;
}

#navBar{
    display: flex;
    width: 100%;
    padding: 25px 53px;
    align-items: center;
    border-bottom: 0.5px solid #000;
    gap: 40%;
    background: #FFF;
    
    
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    list-style-type: none;
    
}

nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
    width: 73px;
    height: 19px;
    flex-shrink: 0;
    color: #2C3337;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: inherit;
    text-decoration: none;
}

#welcome-msg{
    width: 321px;
    height: 87px;
    flex-shrink: 0;
    color: #000;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 164px;
    margin-bottom: 37px;
    margin-left: 18%;
}

.home-button{
    display: flex;
    width: 327px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    background: var(--Gradient-Red, linear-gradient(180deg, #EA2139 0%, #C8102E 100%));
    margin-left: 18%;
    color: var(--grayscale-white-ffffff, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body/Bold | 16 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.home-button:first-of-type{
    margin-bottom: 21px;
}

#container{
    display: flex;
    gap: 245px;
    margin-right: 10%;
}

#left-container{
    margin-left: 18%;
}

#home-img{
    width: 40%;
    height: 374px;
    margin-top: 150px;
}


button:hover{
    cursor: pointer;
}

#error-message{
    margin-left: 42.5%;
    color: red;
    font-size: 18px;
}

#check, #below-check{
    text-align: center;
}

#check{
    margin-top: -27px;
    margin-bottom: -10px;
}

#resend-email{
    width: 432px;
    height: 55px;
    flex-shrink: 0;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

#new-item-h1{
    margin: 112px 70% 23px 7%;
    width: 360px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

select{
    display: block;
        display: flex;
    width: 291px;
    padding: 16px 8px 16px 24px;
    align-items: center;
    gap: 10px;
    background: var(--grayscale-gray-100-f-9-f-8-f-6, #F9F8F6);
    color: var(--grayscale-gray-302-c-3337, #2C3337);
    font-feature-settings: 'clig' off, 'liga' off;
    flex: 1 0 0;
    /* Heading/Heading | 24 */
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin-top: 19px;
}

label{
    width: 296px;
    height: 20px;
    flex-shrink: 0;
    color: #000;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#select-container{
    display: flex;
    justify-content: center;
    gap: 297px;
}

#form-submit{
    margin-top: 170px;
    margin-bottom: 178px;
    margin-left: 44%;
    display: flex;
    width: 155.5px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    background: var(--Gradient-Red, linear-gradient(180deg, #EA2139 0%, #C8102E 100%));
    color: var(--grayscale-white-ffffff, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body/Bold | 16 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */

}

body {
    font-family: 'Inter', sans-serif;
}

.form-grid {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px 10px; 
    width: 80%;
    max-width: 600px; 
}

.form-row {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
 
}

.form-label {
    width: 150px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #000;
    text-align: left;
    display: inline-block;
    height: 22px;
}

.form-input {
    padding: 12px;
    border-radius: 52px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 48px;
    color: #6c7275;
    width: 275px; 
}

.text {
    position: relative;
    line-height: 24px;
}

.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally within its container */
    align-items: center;
    width: 100%; /* Adjust the width as needed */
}

.button-text {
    width: auto; /* Adjust the width based on the content */
    border-radius: 99px;
    background: linear-gradient(180deg, #ea2139, #c8102e);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: Inter;
    margin: 0 auto; /* Center the button within its container */
}




.account-setting-child {
    position: absolute;
    top: 158px;
    left: 81px;
    border-radius: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 428px;
    height: 554px;
}
.account-setting-item {
    position: absolute;
    top: 265px;
    left: 125px;
    border-radius: 50%;
    background-color: #e8e8e8;
    width: 332px;
    height: 318px;
}
.account-setting-inner {
    position: absolute;
    top: 311px;
    left: 227px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 128px;
    height: 124px;
}
.ellipse-div {
    position: absolute;
    top: 414px;
    left: 204px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 174px;
    height: 139px;
}
.vendor-name {
    position: absolute;
    top: 200px;
    left: 180px;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    width: 223px;
    height: 24px;
}
.vendor-since-mmddyyyy {
    position: absolute;
    top: 639px;
    left: 154px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    width: 274px;
    height: 29px;
}
.rectangle-div {
    position: relative;
    top: 158px;
    left: 556px;
    border-radius: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 662px;
    height: 554px;
}
.pen-icon {
    position: absolute;
    top: 178px;
    left: 1174px;
    width: 26px;
    height: 25px;
    overflow: hidden;
}

button.edit { 
    background:none; 
    border:none; 
    position: absolute;
    top: 184px;
    left: 1144px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    width: 30px;
    height: 13px;
}

.text {
    flex: 1;
    position: relative;
    line-height: 24px;
}
.text-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 8px;
}
.text-input {
    position: absolute;
    width: 19.53%;
    top: calc(50% - 190px);
    right: 32.81%;
    left: 47.66%;
    border-radius: 52px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    color: #6c7275;
}
.text-input1 {
    position: absolute;
    width: 19.53%;
    top: calc(50% - 105px);
    right: 32.97%;
    left: 47.5%;
    border-radius: 52px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    color: #6c7275;
}
.text-input2 {
    position: absolute;
    width: 19.53%;
    top: calc(50% - 105px);
    right: 8.91%;
    left: 71.56%;
    border-radius: 52px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    color: #6c7275;
}
.text-input3 {
    position: absolute;
    width: 19.53%;
    top: calc(50% - 190px);
    right: 8.91%;
    left: 71.56%;
    border-radius: 52px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    color: #6c7275;
}
.component-36rectangle-38-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 30px;
    background-color: #fff;
}
.component-36rectangle-38 {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 55px;
    height: 31px;
}
.on {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    font-weight: 500;
    display: inline-block;
}
.component-36on {
    position: absolute;
    top: 8px;
    left: 18px;
    width: 27px;
    height: 17px;
}
.component-36off {
    position: absolute;
    top: 9px;
    left: 65px;
    width: 27px;
    height: 17px;
    color: #fff;
}
.component-37 {
    position: absolute;
    top: 474px;
    left: 620px;
    border-radius: 30px;
    background-color: #c8102e;
    width: 106px;
    height: 35px;
    overflow: hidden;
    color: #2c3337;
}
.component-40 {
    position: absolute;
    top: 416px;
    left: 623px;
    border-radius: 30px;
    background-color: #c8102e;
    width: 106px;
    height: 35px;
    overflow: hidden;
    color: #2c3337;
}
.component-38 {
    position: absolute;
    top: 532px;
    left: 620px;
    border-radius: 30px;
    background-color: #c8102e;
    width: 106px;
    height: 35px;
    overflow: hidden;
    color: #2c3337;
}
.component-39 {
    position: absolute;
    top: 588px;
    left: 620px;
    border-radius: 30px;
    background-color: #c8102e;
    width: 106px;
    height: 35px;
    overflow: hidden;
    color: #2c3337;
}

.enable-notifications {
    position: absolute;
    top: 424px;
    left: 754px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    width: 163px;
    height: 15px;
}
.product-submission-notificatio {
    position: absolute;
    top: 482px;
    left: 754px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    width: 262px;
    height: 12px;
}
.product-submission-notificatio1 {
    position: absolute;
    top: 540px;
    left: 754px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    width: 262px;
    height: 13px;
}
.email-notifications {
    position: absolute;
    top: 596px;
    left: 754px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    width: 262px;
    height: 12px;
}

.logo-icon {
    width: 133px;
    position: relative;
    height: 47px;
}
.item-status {
    position: absolute;
    top: 1px;
    left: 143px;
    font-weight: 500;
    display: inline-block;
    width: 134px;
    height: 19px;
}
.home {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 73px;
    height: 19px;
}
.account-setting1 {
    position: absolute;
    top: 1px;
    left: 323px;
    font-weight: 500;
    display: inline-block;
    width: 184px;
    height: 20px;
}
.notification {
    position: absolute;
    top: 0px;
    left: 567.1px;
    font-weight: 500;
    display: inline-block;
    width: 135px;
    height: 20.6px;
    transform:  rotate(0.3deg);
    transform-origin: 0 0;
}
.item-status-parent {
    width: 702.1px;
    position: relative;
    height: 21.2px;
}
.logo-parent {
    position: absolute;
    top: 2px;
    left: 0px;
    background-color: #fff;
    border-bottom: 0.5px solid #000;
    box-sizing: border-box;
    width: 1280px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 53px;
    gap: 329px;
    font-size: 24px;
    color: #2c3337;
    font-family: 'ITC Avant Garde Gothic Std';
}
.account-setting {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Inter;
}

.circle{
    width: 91px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 50%;
    color: #FFF;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding-top: 15px;
    margin-top: 63px;
    display: inline-block;
    background-color: #D0D0D0;
}

.line{
    width: 393.001px;
    height: 3px;
    background: #D0D0D0;
    display: inline-block;
    margin-bottom: 10px;
}

.circle:first-of-type{
    margin-left: 12%;
    background-color: #79AD36;
}

.light-green{
    background-color: #79AD36;
}

.status-labels{
    color: #2C3337;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#status-labels-container{
    display: flex;
    margin-left: 12%;
    gap: 30.5%;
}

.arrow-container{
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.arrow-container:first-of-type{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-left: 8.5%;
    margin-right: 62%;
}

#form-2{
    margin-right: 290px;
}

.foward-back{
    border-radius: 80px;
    background: var(--Gradient-Red, linear-gradient(180deg, #EA2139 0%, #C8102E 100%));
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.btn-text{
    color: #000;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline;
}

#next{
    position: absolute;
    right: 255px;
}

.arrow-img{
    width: 14px;
    height: 16px;
    flex-shrink: 0;
    z-index: 2;
}

.form-sections{
    width: 1139px;
    height: 353px;
    flex-shrink: 0;
    border: 1px solid #000;
    margin: 33px auto 77px auto;
}

.table-head{
    width: 362px;
    height: 29px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 48px;
    margin-bottom: 27px;
}

.horizontal-line{
    width: 1139px;
    height: 1px;
    background: #000;
}

.sub-sections{
    display: flex;
    width: 914px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 27px 60px;
    flex-wrap: wrap;
    margin: 20px 129px 57px 96px;
}

.info-text{
    width: 250px;
    height: 22px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: -2px;
}

.asterisk{
    color: #F00;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info-input{
    display: flex;
    width: 250px;
    height: 48px;
    padding: 12px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 52px;
    border: 1px solid #000;
    background: var(--grayscale-white-ffffff, #FFF);
    margin-bottom: -20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    border-radius: 4px;
    border: 1px solid #B9B9B9;
    background: #FFF;
    margin: 31px auto 310px auto;
}

th, td{
    border-top: 1px solid #B9B9B9;
    border-left: 1px solid #B9B9B9;
    background: rgba(0, 0, 0, 0.06);
    padding: 10px 12px;

}

td{
    background-color: white;
}

.tiny-circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.grey{
    background-color: grey;
}

.yellow{
    background-color: yellow;
}

#item-status-title{
    width: 360px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 59px 830px 21px 90px;
}

#search{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 999px;
    border: 1px solid var(--grayscale-gray-90-e-5-e-5-e-3, #E5E5E3);
    background: var(--grayscale-white-ffffff, #FFF);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex: 1 0 0;
    overflow: hidden;
    color: var(--grayscale-gray-506-c-7275, #6C7275);
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;

    /* Body/Regular | 16 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-left: 84px;
    margin-bottom: 31px;
}

#btn{
    text-decoration: none;
    color: white;
}

#form-title{
    width: 400px;
    height: 42px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#section-1{
    width: 1143px;
    height: 542px;
    flex-shrink: 0;
}

#section-2{
    width: 1142.998px;
    height: 374px;
    flex-shrink: 0;
}

#list-cost, #list-cost-unit, #suggested-retail, #WHSL-cost, #slotting-amount{
    width: 108px;
    height: 40px;
    flex-shrink: 0;
}

#section-3{
    width: 1142.998px;
    height: 445px;
    flex-shrink: 0;
}

#section-4{
    width: 1142.998px;
    height: 262px;
    flex-shrink: 0;
}

#section-5{
    width: 1143px;
    height: 565px;
    flex-shrink: 0;
}

.shift-right, #weight{
    margin-left: 623px;
    
}

textarea{
    width: 984px;
    height: 100px;
    flex-shrink: 0;
    fill: var(--grayscale-white-ffffff, #FFF);
    stroke-width: 1px;
    stroke: #000;
    border-radius: 5px;
}

#space{
    height: 1px;

}