*{
    box-sizing: border-box;
}

#logoB{
    display: flex;
    width: 254px;
    height: 92px;
    padding: 0px 1.639px 1.704px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 205px;
    margin-bottom: 42px;
}

#logoS{
    display: flex;
    width: 133px;
    height: 47px;
    padding: 0px 0.858px 0.87px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.login-input{
    display: flex;
    width: 456px;
    height: 60px;
    padding: 12px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 52px;
    border: 1px solid #000;
    background: #FFFFFF;
    margin-bottom: 10px;
}

.login-input:first-of-type{
    margin-bottom: 16px;
}

.input-text{
    color: #6C7275;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#forgot{
    width: 138.948px;
    height: 19px;
    transform: rotate(0.14deg);
    flex-shrink: 0;
    color: #2C3337;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 10% 328.66px 56.25% ;
}

#sign-in, #confirm-send{
    display: flex;
    width: 327px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    border: 1px solid #E5E5E3;
    background: #FFF;
    margin-top: 43px;
    margin-bottom: 10px;
    border-radius: 99px;
    background: var(--Gradient-Red, linear-gradient(180deg, #EA2139 0%, #C8102E 100%));
    color: var(--grayscale-white-ffffff, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body/Bold | 16 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

#sign-in:active, #confirm-send:active, .home-button:active{
    background: var(--Gradient-Red, linear-gradient(180deg, #fd7b8a 0%, #ff5874 100%));
}

#confirm-send{
    margin-top: -20px;
}

#navBar{
    display: flex;
    width: 100%;
    padding: 25px 53px;
    align-items: center;
    border-bottom: 0.5px solid #000;
    gap: 40%;
    background: #FFF;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    list-style-type: none;
}

nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
    width: 73px;
    height: 19px;
    flex-shrink: 0;
    color: #2C3337;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: inherit;
    text-decoration: none;
}

#welcome-msg{
    width: 321px;
    height: 87px;
    flex-shrink: 0;
    color: #000;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 164px;
    margin-bottom: 37px;
    margin-left: 18%;
}

.home-button{
    display: flex;
    width: 327px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    background: var(--Gradient-Red, linear-gradient(180deg, #EA2139 0%, #C8102E 100%));
    margin-left: 18%;
    color: var(--grayscale-white-ffffff, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body/Bold | 16 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.home-button:first-of-type{
    margin-bottom: 21px;
}

#container{
    display: flex;
    gap: 245px;
    margin-right: 10%;
}

#left-container{
    margin-left: 18%;
}

#home-img{
    width: 40%;
    height: 374px;
    margin-top: 150px;
}

button:hover{
    cursor: pointer;
}

#error-message{
    margin-left: 42.5%;
    color: red;
    font-size: 18px;
}

#check, #below-check{
    text-align: center;
}

#check{
    margin-top: -27px;
    margin-bottom: -10px;
}

#resend-email{
    width: 432px;
    height: 55px;
    flex-shrink: 0;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}